/*css 初始化 */
@charset "UTF-8";

/*!*滚动条初始化*!*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  opacity: 0.2;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 10px;
  opacity: 0.2;
}

::-webkit-scrollbar-thumb:vertical {
  height: 8px;
  background-color: #d3d4d5;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #a2a3a5;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 8px;
  background-color: #ff4d4f;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #a2a3a5;
}

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

fieldset, img {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul, ol {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
}

select, input, textarea {
  margin: 0;
}

/*防止拖动*/

textarea {
  resize: none;
}

/*  去掉图片低测默认的3像素空白缝隙*/

img {
  border: 0;
}

table {
  border-collapse: collapse;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a {
  color: #666;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}

input, textarea, keygen, select, button {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  outline: none;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#app {
  .ant-input-lg {
    font-size: 14px;
  }
  .ant-select-search__field__placeholder{
    font-size: 14px;
  }
  .ant-select-selection__choice{
    font-size: 14px;
  }

  //重置默认主体样式
  .ant-layout-sider{
    background: #fafafa;
  }
  .ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    background: #fafafa;
    box-shadow: none;
  }
  .ant-menu-item, .ant-menu-submenu{
    color: #37414b;
    margin: 0;
    min-height: 50px;
    line-height: 50px;
    .menu-icon{
      vertical-align: text-top;
      transition: all .3s;
      color: #37414b;
    }
    &:hover{
      color: #37414b;
      background: #e1e1e1;
      .menu-icon{
        transform: scale(1.2);
      }
    }
  }
  .ant-menu-sub{
    background: #e8e8e8;
  }
  .ant-menu-dark{
    .ant-menu-submenu-title{
      height: 50px;
      line-height: 50px;
      .ant-menu-submenu-arrow{
        &::before {
          background: #37414b;
        }
        &::after {
          background: #37414b;
        }
      }
    }
    .ant-menu-submenu-active{
      .ant-menu-submenu-title{
        &:hover{
          color: #37414b !important;
        }
      }
    }
  }
  .ant-menu-item-selected{
    background: #5482ee;
    color: #e7f4ff;
    .menu-icon{
      color: #e7f4ff;
    }
    &:hover{
      color: #e7f4ff;
      background: #5482ee;
    }
  }

  .ant-form-item-label {
    label{
      color: var(--titleColor);
      font-weight: 600;
    }
  }
}
.ant-popover-content{
  .ant-popover-inner-content{
    padding: 0;
  }
}
.ant-drawer-header {
  .ant-drawer-title {
    color: var(--titleColor);
    font-weight: 700;
  }
}
.ant-modal-header {
  .ant-modal-title {
    color: var(--titleColor);
    font-weight: 700;
  }
}
.ant-select-selection__rendered{
  .ant-select-tree-title{
    font-size: 14px;
  }
}
.ant-select-selection-selected-value{
  font-size: 14px;
}
.ant-select-selection__placeholder {
  font-size: 14px;
}
